<div ng-controller="SidebarController as sidebar">
    <md-toolbar style="background-color:#FFF;border-bottom:solid 1px #ebebeb">
        <h1 class="md-toolbar-tools" style="margin:10px;">
            <md-input-container style="margin-right: 10px;">
                <label>Sort By:</label>
                <md-select ng-model="sort">
                    <md-option ng-repeat="sort in sidebar.sortCategories" value="{{sort}}">{{sort}}</md-option>
                </md-select>
            </md-input-container>
        </h1>

    </md-toolbar>

    <md-content>
        <sidebar-list></sidebar-list>
    </md-content>
</div>