<md-toolbar layout="row" >
    <div class="md-toolbar-tools">
        <h1><i class="material-icons" style="position:relative;top:4px;">monetization_on</i>TUFF</h1>

        <span flex></span>

        <span flex></span>
        <img src="assets/svg/user.svg" style="margin-right:5px;"><span style="font-size:14px;">Dirty Dan</span><img src="assets/svg/more_vert.svg" style="margin-left:5px;">
    </div>

</md-toolbar>


<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="center center" class="navbar">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>

    <md-nav-item hide-xs md-nav-sref="home" name="page1">Home</md-nav-item>
    <md-nav-item hide-xs md-nav-sref="my-stuff" name="page2">My Stuff</md-nav-item

</md-nav-bar>
