<md-toolbar layout="row" class="md-whiteframe-z2" >
    <div class="md-toolbar-tools">

        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>

        <h1><i class="material-icons" style="position:relative;top:4px;">monetization_on</i>TUFF</h1>

        <span flex></span>

        <span flex></span>
        <img src="assets/svg/user.svg" style="margin-right:5px;">
            <span ng-if="$window.sessionStorage.getItem('username')" style="font-size:14px;">Dirty Dan</span>
            <span ng-if="!$window.sessionStorage.getItem('username')" style="font-size:14px;">
                <a ng-sref="">Create an Account!</a>
            </span>
        <img src="assets/svg/more_vert.svg" style="margin-left:5px;">
    </div>

</md-toolbar>

