
<md-content layout="column">

    <md-whiteframe class="md-whiteframe-1dp module-header-container">

        <div class="module-header" layout="row" layout-align="center center">
            <span class="module-header-title">Welcome Home</span>
        </div>

    </md-whiteframe>

</md-content>

<md-content layout="row" layout-xs="column" layout-margin id="content" style="text-align: center">

    <md-whiteframe flex="33" flex-xs="100" class="card md-whiteframe-1dp">
        <h4>Organize Your Stuff</h4>
    </md-whiteframe>

    <md-whiteframe flex="33" flex-xs="100" class="card md-whiteframe-1dp">
        <h4>Valuate Your Stuff</h4>
    </md-whiteframe>

    <md-whiteframe flex="33" flex-xs="100" class="card md-whiteframe-1dp">
        <h4>Get Rid of Your Stuff</h4>
    </md-whiteframe>

</md-content>
