<md-content layout="column" id="content">
    <div class="md-whiteframe-1dp item-card-full">
        <div class="module-header" layout="row" layout-align="center center">
            <i class="material-icons icon" >{{ul.selected.category}}</i>
            <span class="module-header-title">{{ul.selected.name}}</span>
            <span class="module-header-sub">{{ul.selected.content}}</span>
        </div>
        <div class="module-content" layout="row" layout-align="center center">
                {{ul.selected.description}}
        </div>
    </div>

</md-content>

